{% extends "core/base_sidebar.html" %}
{% block title %}
Dashboard | Exam Management System
{% endblock %}


{% block content %}
    <h2>Invigilation Schedule for {{ user.get_full_name|default:user.username}}</h2>
    <table class="table tbale-striped">
        <thead>
            <tr>
                <th>Room</th>
                <th>Exam Date</th>
                <th>Exam Time</th>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Section Number</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in invigilations %}
            <tr>
                <td>{{ entry.room }}</td>
                <td>{{ entry.exam_date }}</td>
                <td>{{ entry.exam_time }}</td>
                <td>{{ entry.course_id }}</td>
                <td>{{ entry.course_name }}</td>
                <td>{{ entry.section_number }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No invigilation schedule found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}